<div class="content">
  <mat-card *ngFor="let item of items" class="shopping-cart-item">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{item.imageUrl}}" alt="">
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to cart
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <div id="amountSelector">
        <mat-icon (click)="removeOne()">remove</mat-icon>
        <input matInput value="{{amount}}">
        <mat-icon (click)="addOne()">add</mat-icon>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

